#heading{
    font-size: 60px;
    text-align: center;
    text-shadow: 5px 5px 10px;
    color: rgb(58, 118, 6);
}

body{
    background-color: rgb(2, 5, 6);
}

#quest{
    text-align: center;
    color:aqua;
    font-size: 25px;
}

.form-control{
    text-align: center;
}
